{#{% extends 'base.html' %}#}

{% block content %}

<div style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,10,151,1) 0%, rgba(255,0,0,1) 100%); padding: 20px; padding-top: 50px">
<br>
<br>
<br>
<h2 style="text-align: center; margin: 20px">Reset Password</h2>
        <form method="POST">
            {% csrf_token%}
                <div style="text-align: center" class="center">
                    {{ form.as_p }}
                    <input class="btn text-white center" type="submit" value="Submit">
                </div>
        </form>
</div>
{% endblock %}
